.container {
    --border-radius: 12px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "questionNumber choices"
        "question       choices"
        "   .           choices"
        "progress          .   "
        "   .            button"
        "   .            error ";
    row-gap: 0.5rem;
    column-gap: 10rem;

    width: min(85rem, 80vw);
}

.questionNumber {
    grid-area: questionNumber;

    color: var(--fontColorSecondary);
    font: var(--font-body-sm);
}

.question {
    grid-area: question;
    
    font: var(--font-heading-med)
}

.progressLabel {
    display: none;
}

/* This implementation only works for webkit browsers.
    TODO: Use a premade progress bar which handles other browsers.
*/

.progress {
    grid-area: progress;
    align-self: center;

    -webkit-appearance: none;
   appearance: none;

   width: 100%;
   
}

.progress::-webkit-progress-bar {
    background-color: white;
    padding: 3px;
    border-radius: 8px;
    
}

.progress::-webkit-progress-value {
    background-color: purple;
    border-radius: 8px;
}

.multipleChoice {
    grid-area: choices
}

.button {
    grid-area: button;

    padding: 1rem;

    background-color: var(--clr-purple);
    color: white;
    cursor: pointer;
    border: none;
    font: var(--font-heading-sm);
    border-radius: var(--border-radius);
}

.error {
    grid-area: error;
}