.container {
    --border-radius: 12px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "questionNumber choices"
        "question       choices"
        "   .           choices"
        "progress          .   "
        "   .            button"
        "   .            error ";
    row-gap: 0.5rem;
    column-gap: 10rem;

    width: min(85rem, 80vw);
}

.questionNumber {
    grid-area: questionNumber;

    color: var(--fontColorSecondary);
    font: var(--font-body-sm);
}

.question {
    grid-area: question;
    
    font: var(--font-heading-med)
}

.progressLabel {
    display: none;
}

/* This implementation only works for webkit browsers.
    TODO: Use a premade progress bar which handles other browsers.
*/

.progress {
    grid-area: progress;
    align-self: center;

    -webkit-appearance: none;
   appearance: none;

   width: 100%;
   
}

.progress::-webkit-progress-bar {
    background-color: white;
    padding: 3px;
    border-radius: 8px;
    
}

.progress::-webkit-progress-value {
    background-color: purple;
    border-radius: 8px;
}

.multipleChoice {
    grid-area: choices
}

.button {
    grid-area: button;

    padding: 1rem;

    background-color: var(--clr-purple);
    color: white;
    cursor: pointer;
    border: none;
    font: var(--font-heading-sm);
    border-radius: var(--border-radius);
}

.error {
    grid-area: error;
}


/* 
    Results Display
*/

.resultsContainer {
    --border-radius: 12px;

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, auto);
    column-gap: 2rem;
}

.resultsHeader {
    font: var(--font-heading-lrg-regular);
}

.resultsSubtext {
    font: var(--font-heading-lrg-bold);
}

.resultDisplay {
    grid-column: 2;
    grid-row: span 2;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;

    padding-inline: 8rem;  
    padding-block: 3rem;  
    border-radius: var(--border-radius);
    background-color: var(--buttonBgColor);
}

.resultDisplay img {
    grid-row: 1;
}

.resultDisplay h3 {
    grid-row: 1;

    margin-left: 0.5rem;
}

.resultDisplay p {
    grid-column: span 2;
    text-align: center;
}

.resultDisplay p  {
    color: var(--fontColorSecondary)
}

.resultDisplay p span {
    display: block;
    font: var(--font-display);
    color: var(--fontColorPrimary)
    
}

.resultsContainer button {
    grid-row: 3;

    margin-top: 2rem;
}