.button {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;
    min-height: 5.5rem;
    padding-inline: 1rem;

    background-color: var(--buttonBgColor);
    border: none;
    border-radius: 16px;
    font: var(--font-heading-sm)
}

.button:hover {
    cursor: pointer;
    outline: 4px solid var(--clr-purple);
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;
    margin-right: 1rem;

    color: var(--clr-grey-300);
    background-color: var(--clr-grey-100);
    border-radius: 6px;
}

.image {
    margin: auto;
    margin-inline-end: 0;
}