.quizMenu {
    display: grid;
    align-items: start;
    justify-content: center;
    column-gap: 6rem;
    row-gap: 2rem;
}

.header {
    font: var(--font-heading-lrg-regular);
}

.header span {
    display: block;

    font: var(--font-heading-lrg-bold);
}

.body {
    font: var(--font-body-sm);
    color: var(--fontColorSecondary);
}

.subjectList {
    grid-row: 2 / span 2;;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.toggle {
    justify-self: end;

    margin-bottom: 5rem;

    grid-row: 1;
    grid-column: 1 / span 2;;
}